*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #292524;
    box-sizing:border-box;
    overflow: hidden;
    color: #999999;
}
.container{
    width: 1140px;
    margin: auto;
}
.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}
[alt="Logo"]{
    width: 5em;
    height: 2em;
}
.part{
    display: flex;
}
.list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}
.startbutton{
    background-color: #292524;
    padding: 1em 2em;
    color: #eab308;
    border: 1px solid #eab308;
    border-radius: 7px;
    margin-left: 3em;
}
[alt="Banner"]{
    width: 1140px;
    height: 340px;

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0;
}
h1{
    color: #fff;
    width: 40%;
    font-size: 3.5em;
    font-weight: bolder;
}
p{
    color: #CCCCCC;
    width: 29%;
    font-size: 1em;
}